.bill {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: var(--primary-color);
  padding: 30px 50px;
  color: white;
  border-radius: 10px;

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;

    .products {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid white;
      padding: 15px 0;
    }

    .total-cost {
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 0 0;

    &--address {
      display: flex;
      justify-content: space-between;
    }
    &--phone {
      display: flex;
    }
  }
  .bill-details {
    text-align: left;
  }
}
