.bill {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: var(--primary-color);
  padding: 50px;
  color: white;
  border-radius: 10px;

  &-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &--left {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .quantity {
        display: flex;
        justify-content: space-between;
      }
    }
    &--right {
      width: 40%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .line {
      margin: 0;
    }
  }
  &-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 0 0;

    &--address {
      display: flex;
      justify-content: space-between;
    }
    &--phone {
      display: flex;
    }
  }
  .line {
    width: 250px;
  }
}
