.weight-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  button {
    background-color: #fff;
    border: 1px solid #4caf50;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #4caf50;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: #333;
      transition: all 0.2s ease-in-out;
    }
  }

  .weight {
    border: 1px solid #4caf50;
    border-radius: 10px;
    padding: 10px 40px;

    input {
      border: none;
      width: 50px;
      &:focus {
        outline: none;
      }
    }
  }
}
