.new-password {
  &--header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 30px 20px;
  }

  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    form {
      width: 500px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      gap: 40px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      h3,
      h4 {
        text-align: center;
      }

      input {
        width: 222px;
        height: 40px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        color: #000;

        &:focus {
          border-bottom: 1px solid #000;
        }
      }

      .confirm-btn {
        width: 230px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--hover-color);
        }
      }

      .button-toggle {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        position: absolute;
        bottom: 25px;
        right: 0;
      }

      .error {
        margin-top: 10px;
        height: 10px;
        color: red;
        width: 222px;
        font-size: 14px;
      }
    }
  }
}
