.final-order {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &--title {
    h3 {
      font-size: 28px;
      text-align: center;
    }
  }

  &--details {
    margin-top: 15px;

    .title {
      h4 {
        font-weight: 700;
        font-size: 20px;
      }
    }
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
      padding: 15px 0;
    }
    .product-items {
      display: flex;
      align-items: flex-start;
      .products {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .total-cost.flex {
      border-bottom: none;
      h4 {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }

  .home-products--button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
}
.order-confirm--image {
  display: flex;
  justify-content: center;
  align-items: center;
}
