.user-address {
  width: 961px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: scroll;

  &--header {
    display: flex;
    flex-direction: column;

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        margin-top: 15px;
      }

      button {
        padding: 15px 50px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: var(--hover-color);
        }
      }
    }

    .line {
      margin: 20px 0;
    }
  }

  &--content {
    width: 940px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 50%;
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 10px;
        color: black;
        transition: all 0.3s ease;
      }

      button:hover {
        transform: translateY(-2px);
      }
    }
  }
}
