.admin-content {
  grid-area: content;

  h3 {
    margin-left: 10px;
    margin-bottom: 55px;
  }

  .order-table {
    height: 100%;
  }

  .categories {
    height: 100%;
    margin-left: 10px;
  }
}
