.admin-content {
  grid-area: content;

  h3 {
    margin-bottom: 50px;
    padding: 0 0 0 20px;
  }

  .order-table {
    height: 100%;
  }

  .categories {
    height: 100%;
    margin-left: 10px;
  }

  .products-management {
    height: 100%;
    margin-left: 10px;
  }
}
