:root {
  --primary-color: #4caf50;
  --second-color: #f4f4f4;
  --hover-color: #3e8e41;
  --icon-width: 20px;
  --icon-height: 20px;
  --footer-background-color: #1b212e;
  --primary-fade-color: #add781;
  --background-color: #f4f4f4;
  --profile-color: #ade792;
  --profile-text-color: #344d67;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    font-weight: 400;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }
}

body {
  .wrapper {
    width: 1440px;
  }
  .container {
    width: 1140px;
    margin: 0 auto;
  }

  .login {
    width: 700px;
    margin: 0 auto;
  }
}

.swal2-icon {
  span {
    font-size: initial;
    font-weight: initial;
  }
}

.swal2-container {
  z-index: 1400 !important;
}
