.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

    .navigation-item{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &--icon {
            width: calc(var(--icon-width) * 1.5);
            height: calc(var(--icon-height) * 1.5);
            cursor: pointer;
          }
          .navigation-item--text {
            color: white;
            background-color: var(--primary-color);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            bottom: 30px;
            left: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
          }
    }


}
