.search {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-left: 50px;

    &--input {
      border-radius: 50px;
      background-color: var(--second-color);
      border: none;
      width: 300px;
      padding-left: 20px;
      &:focus {
        background: var(--second-color);
        outline: none;
      }
    }

    .icon {
      background-color: var(--primary-color);
      border-radius: 50px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      right: 40px;
      width: 60px;
      height: 40px;
      cursor: pointer;

      .icon--search {
        width: var(--icon-width);
        height: var(--icon-height);
      }
    }
  }