.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  .logo {
    cursor: pointer;
  }
  .button {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-style {
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      color: black;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--primary-color);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
        color: white;
      }
    }

    .login-btn {
      background-color: var(--primary-color);
      color: white;
    }

    .register-btn:hover {
      background-color: #f4f4f4;
      color: black;
    }
  }
}
