.product-info{
    margin-top: 50px;
    width: 250px;
    height: 380px;

    &--image{
        width: 250px;
        height: 315px;
        object-fit: cover;
    }

    &--flex{
        display: flex;
        gap: 100px;
        

        .product-info--icon{
            width: calc(var(--icon-width) / 2);
            height: calc(var(--icon-height) / 1.5 );
        }

        .product-info--button{
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
}